<app-navbar></app-navbar>


<br><br><br>
<br>
    <div class="row align-items-center mt-5" >
       
   
        
           <div class="col">
           <h3 class="align-content-center"><small><strong>Registrar Pacientes</strong></small> </h3> 
           <br>    
           <img id="circulo" src="/assets/img/OIP.jfif" [routerLink]="['/registrospacientes']" routerLinkActive="router-link-active"  alt="">
           </div>
           <div class="col">
            <h3 class="align-content-center"><small><strong>Registrar Pacientes</strong></small> </h3> 
            <br>    
            <img id="circulo" src="/assets/img/OIP.jfif" [routerLink]="['/registrosgenerales']" routerLinkActive="router-link-active"  alt="">
            </div>
            <div class="col">
                <h3 class="align-content-center"><small><strong>Registrar Pacientes</strong></small> </h3> 
                <br>    
                <img id="circulo" src="/assets/img/OIP.jfif" [routerLink]="['/registrosgenerales']" routerLinkActive="router-link-active"  alt="">
                </div>
            
   </div>
   

   
   



