
<app-navbar></app-navbar>

<br><br><br>
<br>
    <div class="row align-items-center mt-5" >
       
   
        
           <div class="col">
           <h3 class="align-content-center"><small><strong>Registros</strong></small> </h3> 
           <br>    
           <img id="circulo" src="/assets/img/OIP.jfif" [routerLink]="['/registrosgenerales']" routerLinkActive="router-link-active"  alt="">
           </div>
           <div class="col">
            <h3 class="align-content-center"><small><strong>Reportes</strong></small> </h3> 
            <br> 
               <img id="circulo"  id="circulo"src="/assets/img/reporte.png"  [routerLink]="['/reportes']" routerLinkActive="router-link-active"  alt="">
           </div>
           <div class="col">
            <h3 class="align-content-center"><small><strong>Consultas</strong></small> </h3> 
            <br> 
               <img src="/assets/img/icono.ico"  [routerLink]="['/consultas']" routerLinkActive="router-link-active"  alt="">
          
             </div>
            
   </div>
   
<br><br><br>
<br>
   <div class="row align-items-center">
       
   
      
    <div class="col">
        <h3 class="align-content-center"><small><strong>Facturacion</strong></small> </h3> 
        <br> 
        <img  id="circulo"src="/assets/img/icono.ico"  [routerLink]="['/facturacion']" routerLinkActive="router-link-active"  alt="">

    </div>
    <div class="col">
        <h3 class="align-content-center"><small><strong>Usuarios</strong></small> </h3> 
        <br> 
        <img src="/assets/img/icono.ico"  [routerLink]="['/usuarios']" routerLinkActive="router-link-active"  alt="">
    </div> 
    <div class="col">
        <h3 class="align-content-center"><small><strong>Ayudas</strong></small> </h3> 
        <br> 
        <img id="circulo" src="/assets/img/icono.ico" alt="">
   
      </div>
      
</div>
   
   


